body{
    background-color: #0f0e16;
    color: white;
    font-family: Arial, sans-serif;
}




header{
    text-align: center;
}

h1{
    font-size:40px;
}

h2 {
    color: rgb(141, 255, 141);
    font-size:20px;
}

h3{
    font-size:30px;
    color:rgb(141, 255, 141);
}

.projects{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
