body{
    background-color: #0f0e16;
    color: white;
    font-family: Arial, sans-serif;

}

header{
    text-align: center;
}

h1{
    text-align: center;
    font-size:40px;
}

h2 {
    color: rgb(141, 255, 141);
    font-size:20px;
}

h3{
    text-align: center;
    font-size:30px;
    color:rgb(141, 255, 141);
}

p1{
    text-align: center;
    color: grey;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
}

.textBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
}

